.title-article h2{
	font-family: Yekan;
	color: #444340;
}
.glyphicon-grain{
	color: #EE00ff;
}
.text-article{
	margin-bottom: 20px;
}
.image-arti{
	margin-bottom: 20px;
}
.text-article p{
	font-family: Yekan;
	color: #444340;
}
